<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/Customer_asset/vendors/chart.js/Chart.min.js"></script>
<script src="/Customer_asset/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/Customer_asset/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="/Customer_asset/js/dataTables.select.min.js"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/Customer_asset/js/dashboard.js"></script>
<script src="/Customer_asset/js/Chart.roundedBarCharts.js"></script>

<!-- plugins:js -->
<script src="/Customer_asset/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/Customer_asset/vendors/jquery-validation/jquery.validate.min.js"></script>
<script src="/Customer_asset/vendors/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="/Customer_asset/vendors/sweetalert/sweetalert.min.js"></script>
<script src="/Customer_asset/vendors/jquery-toast-plugin/jquery.toast.min.js"></script>
<script src="/Customer_asset/vendors/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script src="/Customer_asset/vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/Customer_asset/js/off-canvas.js"></script>
<script src="/Customer_asset/js/hoverable-collapse.js"></script>
<script src="/Customer_asset/js/template.js"></script>
<script src="/Customer_asset/js/settings.js"></script>
<script src="/Customer_asset/js/todolist.js"></script>
<script src="/Customer_asset/js/alerts.js"></script>
<script src="/Customer_asset/js/modal-demo.js"></script>
<script src="/Customer_asset/js/form-addons.js"></script>
<script src="/Customer_asset/js/mytoastalert.js"></script>

<script src="/Customer_asset/js/form-validation.js"></script>
<script src="/Customer_asset/js/bt-maxLength.js"></script>

<script src="/Customer_asset/js/toastDemo.js"></script>


<script src="/Customer_asset/vendors/owl-carousel-2/owl.carousel.min.js"></script>
<script src="/Customer_asset/js/owl-carousel.js"></script>


<!---zoomscripts-->
<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6" crossorigin="anonymous"></script>
<script src="/Customer_asset/js/zoomsl.js"></script>
<script src="/Customer_asset/js/script.js"></script>
<!-- endinject -->
</body>

</html>