<div class="empty-cart" style="text-align: center;">

    <img src="https://cdn.dribbble.com/users/1168645/screenshots/3152485/media/e8d986243b69af8a5323e3a4c41402b3.png" alt="Empty Order" srcset="">
    <h3 style="font-family: 'Nunito';font-size: xxx-large;">No Orders Pending</h3>
    <p style="font-family: 'Nunito';font-weight: 500;">All orders are managed perfectly :)</p>
</div>